<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd"
	default-lazy-init="false">

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/tologin" />
		<property name="successUrl" value="/tomain" />
		<property name="unauthorizedUrl" value="/unauthorized" />
		<property name="filters">
			<map>
				<entry key="auth" value-ref="authFilter" />
				<entry key="logout" value-ref="logoutFilter" />
			</map>
		</property>
		<property name="filterChainDefinitions">
			<value>
				/static/** = anon
				/toregist = anon
				/regist = anon
				/tologin = auth
				/login = anon
				/toforgetpassword = anon
				/getPasswordQuestion = anon
				/validateAnswer = anon
				/resetPassword = anon
				/validate = anon
				/toerror = anon
				/logout = logout
				/** = authc
			</value>
		</property>
	</bean>

	<!-- 自定义过滤器 -->
	<bean id="authFilter" class="com.xinguang.xusercenter.shiro.filter.AuthFilter"></bean>

	<!-- 登出过滤器 -->
	<bean id="logoutFilter" class="com.xinguang.xusercenter.shiro.filter.CasLogoutFilter">
		<property name="redirectUrl" value="tologin" />
	</bean>

	<!-- 自定义 Realm -->
	<bean id="authRealm" class="com.xinguang.xusercenter.shiro.realm.AuthRealm"></bean>

	<!-- 用户授权信息 Cache -->
	<bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="authRealm"></property>
		<property name="cacheManager" ref="cacheManager"></property>
	</bean>

</beans>