.main-left {
    margin-top: 100px;
    padding: 10px 5px 100px 5px;
    border: 1px solid #ddd;
}

.main-right {
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #ddd;
}

.nav-list>li.active>a {
    color: #fff;
    background-color: #337ab7;
}

select {
    margin-top: 6px;
    height: 30px;
    border: 1px solid #ddd;
    background: #f8f8f8;
    box-shadow: none;
}

input[type="text"] {
    margin-top: 6px;
    height: 30px;
    border: 1px solid #ddd;
    background: #f8f8f8;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus {
    border-color: #ccc;
    box-shadow: none;
}